/*main*/
.main{overflow: hidden;margin-bottom: 40px;}
aside{width: 200px;border: 1px solid #ddd;margin: 30px 0 30px 0;padding:0 10px 30px 10px; border-radius: 15px;box-shadow: 1px 0 1px 1px #ccc;}
aside p{ width: 200px; height: 60px; font-size: 18px; font-weight: bold;color: #525554; }
aside p span{margin-left:10px;}
aside ul{margin-top: 40px;}
aside ul li{display: block; height: 40px; line-height: 40px; text-align: center;letter-spacing:10px; width: 200px;border-bottom: 1px dashed #ccc;font-size: 16px;cursor: pointer;}
aside ul li:hover{color: #fff;background: #fecadf;}
.cont{position: relative;margin-top: 30px;}
.pin{position: absolute;top:-22px;left:60px;}
.newest,.his_news{width: 900px;border: 1px solid #ccc; margin:30px 0 0 50px;padding: 20px 30px; border-radius: 20px;box-shadow:1px 1px 1px 1px #ccc;overflow: hidden;}


.news_sim{ width: 800px; height:300px; box-shadow:1px 2px 1px 1px #7b7d7d; border-radius: 25px; padding: 20px;margin-top:30px;}
.news_sim:first-child{margin-top: 0;}
.news_sim span{ color: #aaa; font-size: 12px; font-weight: normal;float: right;text-shadow: none;}
.news_sim h4,.news_det h4{font-size: 18px; height: 30px; line-height: 30px;margin-bottom: 20px;text-align: center;text-shadow: 1px 1px 1px tomato;}
.news_sim dt{float: left; width: 350px;line-height: 30px;padding: 10px 15px;text-indent: 2em;}
.news_sim dd img{float: left; width: 400px;}
.newest .click,.his_news .click{font-size: 16px;float: right;margin-top: 20px;cursor:pointer; color: tomato;}
.click_back{font-size: 16px;float: right;cursor:pointer; color: tomato;margin-bottom: 20px;}

.news_det{width: 800px;padding:20px 20px 40px 20px;box-shadow:1px 2px 1px 1px #7b7d7d; border-radius: 25px;}
.news_det p{line-height: 30px;padding: 10px 15px;text-indent: 2em;font-size: 14px;}
.news_det img{margin:20px auto;display:block;}




.totop{width: 70px;position: fixed;top: -100px;right: 0;}
#rope{width: 70px; background: url(../images/rope.png) no-repeat;}
.totop div{width: 70px;background: url(../images/topscroll.png) no-repeat;height: 98px;cursor: pointer;}




